.container {
  margin: auto;
  width: 100%;
  padding: 0;
  background-image:url("http://media02.hongkiat.com/black_wallpapers/black-matter.jpg");
  background-size: 720px auto;
  border-radius: 5px;
}
/* CLEARFIX */

.container:before, .container:after {
    content:"";
    display:table;
}
.container:after {
    clear:both;
}

/* /CLEARFIX */

.right-column {
  float:right;
  width:34%;
}

.left-column {
  float:left;
  width:66%;
}

body {
  font-family: Courier;
}

nav#top-nav-bar {
  height:40px;
  /*background-color:#DCD2AF;*/
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ffffff), color-stop(50%,#f3f3f3), color-stop(51%,#ededed), color-stop(100%,#ffffff));
  box-shadow:0px 0px 8px #777;
}

.login {
  float:right;
  padding: 8px 10px;
}

.welcome-text {
  padding:4px 10px;
  text-align: left;
}


ul.user-stat-list {
  padding:10px;
}

#deck-title-image {
  width:100%;
  height:auto;
}

li.deck-title {
  display: table;
  /*background-image: url('http://us.123rf.com/400wm/400/400/luchschen/luchschen0709/luchschen070900109/1738684-brushed-aluminum-background-effect.jpg');*/
  
  box-shadow:0px 0px 8px #777;
  height:160px;
  width:35%;
  border-radius: 5px;
  list-style-type: none;
  text-align: center;
  margin:10px;
  float:left;
  display:inline;
}

.deck-title .deck-header {
  height:10px;
  padding-top: 5px;
}

li.stat {
  list-style-type: none;
  color: #505050;
  padding:5px;
}

a:link {
   text-decoration: none;
   color: #505050;
}

a:visited {
  text-decoration: none;
  color: #505050;
}


.user-stats, .deck-box, .result-box, .signup-box {
  height:350px;
  width:75%;
  margin: 50px auto;
  box-shadow:0px 0px 8px #777;
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ffffff), color-stop(50%,#f3f3f3), color-stop(51%,#ededed), color-stop(100%,#ffffff));
}

.user-stats {
  height:200px;
}

.deck-box, .result-box, .signup-box {
  position:relative;
  border-radius: 10px;
  width:40%;
  overflow:hidden;
}


.deck-header, .deck-footer, .card-header, .result-header, .result-footer {
  background-image: url('http://us.123rf.com/400wm/400/400/luchschen/luchschen0709/luchschen070900109/1738684-brushed-aluminum-background-effect.jpg');
  background-size: 100% auto;  
  background-repeat:none;
  margin-top: 0;
  margin-bottom:0;
  padding: 10px;
  text-align:center;
  border-radius: 10px;
}


.card-header, .result-header {
  border-bottom: 1px solid #999999;
}

.button {
  position:absolute;
  bottom:0px;
  width:100%;
}

.submit-answer {
  margin-top:20px;
  text-align:center;
}

.deck-title .deck-img-container {
  height:88%;
  overflow: hidden;
  border-radius: 10px;
}

.deck-img-container {
  height:76%;
  overflow: hidden;
}

.deck-image {
  width:100%;
  height:auto;
  display:block;
  margin-top:-10px;
}

.question {
  padding:20px;
  text-align:center;
}

.form {
margin: 0 auto; 
width:250px;
margin-bottom:10px;
}

.result-list {
  list-style-type: none;
  text-align: center;
}

.stat-name {
  font-weight: bold;
}

.result-list li {
  margin-bottom: 10px;
}

.signup-table {
  padding-top: 25px;
  padding-left: 100px;
}

h3.signup-header {
  text-align: center;
  margin-top: 75px;
  color: #505050;
}

#password-line {
  padding-right: 9px;
}












































