.container {
  margin: auto;
  width: 1080px;
  padding: 0;
  background-image:url("http://media02.hongkiat.com/black_wallpapers/black-matter.jpg");
  background-size: 720px auto;
  border-radius: 5px;
}
/* CLEARFIX */

.container:before, .container:after {
    content:"";
    display:table;
}
.container:after {
    clear:both;
}

/* /CLEARFIX */

.right-column {
  float:right;
  width:34%;
}

.left-column {
  float:left;
  width:66%;
}

body {
  font-family: Courier;
}

nav#top-nav-bar {
  height:40px;
  /*background-color:#DCD2AF;*/
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ffffff), color-stop(50%,#f3f3f3), color-stop(51%,#ededed), color-stop(100%,#ffffff));
  box-shadow:0px 0px 8px #777;
}

.login {
  float:right;
  padding: 8px 10px;
}

.welcome-text {
  padding:4px 10px;
  text-align: left;
}


ul.user-stats-list {
  padding:20px;
}

#deck-title-image {
  width:100%;
  height:auto;
}

li.deck-title {
  display: table;
  background-image: url('http://us.123rf.com/400wm/400/400/luchschen/luchschen0709/luchschen070900109/1738684-brushed-aluminum-background-effect.jpg');
  box-shadow:0px 0px 8px #777;
  height:80px;
  width:25%;
  border-radius: 5px;
  list-style-type: none;
  text-align: center;
  margin:10px;
  float:left;
  display:inline;
}

li.stat {
  list-style-type: none;
  color: #505050;
}

.deck-title a {
  display:table-cell;
  vertical-align:middle;
  text-decoration: none;
}

a:link {
   text-decoration: none;
   color: #505050;
}

a:visited {
  text-decoration: none;
  color: #505050;
}


.user-stats, .deck-box {
  height:250px;
  width:75%;
  margin: 50px auto;
  box-shadow:0px 0px 8px #777;
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ffffff), color-stop(50%,#f3f3f3), color-stop(51%,#ededed), color-stop(100%,#ffffff));
}

.deck-box {
  position:relative;
  border-radius: 10px;
  width:40%;
  overflow:hidden;
}


.deck-header, .deck-footer, .card-header {
  margin-top: 0;
  margin-bottom:0;
  padding: 10px;
  text-align:center;
}

.card-header {
  border-bottom: 1px solid #999999;
}

.button {
  background-image: url('http://us.123rf.com/400wm/400/400/luchschen/luchschen0709/luchschen070900109/1738684-brushed-aluminum-background-effect.jpg');
  background-size: 432px auto;  
  background-repeat:none;
  position:absolute;
  bottom:0px;
  width:100%;
}

.submit-answer {
  margin-top:20px;
  text-align:center;
}

.deck-img-container {
  height:67%;
  overflow: hidden;
}

.deck-image {
  width:100%;
  height:auto;
}

.question {
  padding:20px;
  text-align:center;
}

.form {
margin: 0 auto; 
width:250px;
margin-bottom:10px;
}












































