.container {
  margin: auto;
  width: 1080px;
  padding: 0;
  background-color: #EEEEEE;
  border-radius: 5px;
}
/* CLEARFIX */

.container:before, .container:after {
    content:"";
    display:table;
}
.container:after {
    clear:both;
}

/* /CLEARFIX */

.right-column {
  float:right;
  width:34%;
}

.left-column {
  float:left;
  width:66%;
}

body {
  font-family: Courier;
}

nav#top-nav-bar {
  height:40px;
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ffffff), color-stop(50%,#f3f3f3), color-stop(51%,#ededed), color-stop(100%,#ffffff));
  box-shadow:0px 0px 8px #777;
}

form.login {
  float:right;
  padding: 8px 10px;
}

.welcome-text {
  padding:4px 10px;
  text-align: left;
}

ul.user-stats-list {
  padding:20px;
}

li.deck-title {
  display: table;
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ffffff), color-stop(50%,#f3f3f3), color-stop(51%,#ededed), color-stop(100%,#ffffff));
  box-shadow:0px 0px 8px #777;
  height:60px;
  width:25%;
  border-radius: 5px;
  margin-bottom: 20px;
  list-style-type: none;
  text-align: center;
}

li.stat {
  list-style-type: none;
  color: #505050;
}

.deck-title a {
  display:table-cell;
  vertical-align:middle;
  text-decoration: none;
}

a:link {
   color: #505050;
}

.user-stats {
  height:200px;
  width:75%;
  margin: 50px auto;
  box-shadow:0px 0px 8px #777;
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ffffff), color-stop(50%,#f3f3f3), color-stop(51%,#ededed), color-stop(100%,#ffffff));
}



