<article class='deck-box'>
  <h3 class="deck-header"><%= @deck.title %></h3>
  <div class="deck-img-container">
    <img class="deck-image" src="<%= @deck.photo_url %>"/>
  </div>
  <footer class="button">
    <% if authenticated? %>
    <a href=<%= "/game_on/#{@deck.id}"%>> 
      <h3 class="deck-footer">Play this deck</h3>
    </a>
    <% else %>
    <a href=<%= "/signup"%>> 
      <h3 class="deck-footer">Sign up or log in to play this deck</h3>
    </a>
    <% end %>
  </footer>

</article>

