<article class='deck-box'>
  <h3 class="deck-header"><%= @deck.title %></h3>
  <div class="deck-img-container">
    <img class="deck-image" src="http://cdn2.sbnation.com/uploads/chorus_image/image/14219359/jpeg.0_cinema_640.0.jpeg"/>
  </div>
  <footer class="button">
    <a href=<%= "/game_on/#{@deck.id}"%>> <h3 class="deck-footer">Play this deck</h3></a>
  </footer>
</article>

