<div class='left-column'>
  <nav class='left-deck-index'>
    <ul class='deck-list'>
      <% @decks.each do |deck| %>
        <li class='deck-title'>
          <a href="/decks/<%=deck.id %>"><%= deck.title %></a>
        </li> 
        <!--TODO: Add photo_url img here -->
      <% end %>
    </ul>
  </nav>
</div>

<div class='right-column'>
  <article class='user-stats'>
    <ul class='user-stats-list'>
      <% @current_user.stats.each do |category, stat| %>
      <li class='stat'><%= "#{category.to_s.humanize}: #{stat}" %></li>
      <% end %>
    </ul>
  </article>
</div>
