<article class='result-box'>
  <h3 class="result-header"> Results </h3>
  <ul class="result-list">
    <li>
      <span class="stat-name">Correct answers </span>
      <br>
      <span class="stat-result">All of them</span>
    </li>

    <li>
      <span class="stat-name">Are you a winner?</span>
      <br>
      <span class="stat-result">More like double winner</span>
    </li>

    <li>
      <span class="stat-name">Conclusion </span>
      <br>
      <span class="stat-result">You are awesome</span>
    </li>

  </ul>
  <footer class="button">
    <a href=<%= "/"%>> 
      <h3 class="result-footer">Go back to your dashboard</h3>
    </a>
  </footer>

</article>
