<article class='signup-box'>
  <h3 class='signup-header'>Register now to increase your knowledge!</h3>
  <form action ='/signup' method='POST' class='signup-table'>
    <label for="user_signup" class='signup-form' id='signup-line'>User Name</label>
    <input type='text' placeholder='Username' name='signup[user_name]'/>
    <br>
    <br>
    <label for="password_signup" class='signup-form' id='password-line'>Password</label>
    <input type='password' placeholder='Password' name='signup[password]'/>
    <input type='submit' value='Register'/>
  </form>
</article>
